.article3-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.article3-content {
  flex: 1;
  max-width: 600px;
}
.article3-heading {
  max-width: 500px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Impact, Haettenschweiler, " Arial Narrow Bold ", sans-serif;";
  color: #656d4a;
}

.article3-content p {
  font-size: 15px;
  font-weight: 100;
  color: #3d412c;
  margin: 10px;
}
.article3-img {
  flex: 1;
  text-align: center;
  border-radius: 9px;
}
.article3-img1 {
  display: flex;
  gap: 10px;
  margin-top: 8rem;
}

.article3-img1 img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.article3-btns {
  gap: 20px;
}
.article3-btns .btn-1 {
  border-radius: 50px;
  background-color: brown;
  color: rgb(255, 255, 255);
  padding: 7px 20px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.article3-btns .btn-2 {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 7px 20px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.article3-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
