.collaboration-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin: 50px auto;

  .collab-header {
    max-width: 500px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #2d3748;
    line-height: 1.2;
    text-wrap: balance;
    margin-bottom: 20px;
  }

  .product-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    min-height: 400px;
    background-color: white;

    .lamp-img {
      display: flex;
      justify-content: center;
      flex: 1 1 120px;

      img {
        max-width: 230px;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    .lamp-img2 {
      align-self: flex-end !important;
    }

    .product-image-cont {
      flex: 1 1 300px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .product-image {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 20px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        z-index: 1;
      }
    }

    .feature-card {
      position: absolute;
      background: white;
      border-radius: 16px;
      padding: 14px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
      font-size: 12px;
      max-width: 300px;
      z-index: 3;

      .card-header {
        display: flex;
        align-items: center;
        gap: 10px;

        .feature-icon {
          background-color: #eee4d0;
          padding: 10px;
          border-radius: 100%;

          i {
            color: black;
          }
        }
      }

      .feature-description {
        color: #a2a4a5;
        padding-left: 30px;
      }
    }

    .feature-card.versatile-hinge {
      top: -60px;
      right: -120px;

      @media (max-width: 768px) {
        top: -20px;
        right: 0;
      }
    }

    .feature-card.projector-feature {
      bottom: -60px;
      left: -120px;

      @media (max-width: 768px) {
        bottom: -20px;
        left: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .product-section {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .collab-header {
      font-size: 1rem;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .feature-card {
      position: static;
      margin-bottom: 20px;
    }

    .product-image {
      width: 90%;
    }

    .lamp-img img {
      max-width: 150px;
    }
  }
}
