* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px;
  box-shadow: 5px 2px 8px;
  width: 100%;
}

.nav_img {
  width: 30%;
}

.nav_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}


.nav_part {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.nav_icon {
  font-size: 30px;
}

.nav_btn button {
  padding: 15px 15px;
  border-radius: 40px;
  border: 1px solid rgb(150, 52, 52);
  background-color: rgb(150, 52, 52);
  color: white;
}